
@{
    ViewBag.Title = "Project Selection";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticket_Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6 mb-3">
            <h2>Choose A Project</h2>
        </div>
        <div class=" col-6 text-right">
            <a asp-controller="Project" asp-action="Create" class="btn btn-outline-dark">
                <i class="fas fa-plus-square"></i> &nbsp; Create New Project
            </a>
        </div>
    </div>
    <ul class="list-group">
        @foreach (var project in ViewBag.Project)
        {
            <li class="list-group-item">
                <a asp-controller="Project" asp-action="ChangeProject" asp-route-id="@project.Id">@project.Name</a>
            </li>
        }
    </ul>
</div>